@charset "UTF-8";

body {
    background-color: gray
}

header > h1 {
    color: white
}

header > p {
    font-size: 1.2em;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;  
}

a:hover {
    color: rgb(94, 3, 3);
    border-left: 2px solid red;
    border-right: 2px solid red;
    border-radius: 10px;
    padding: 4px;
    text-decoration: underline rgb(80, 80, 80);
    transition-duration: 0.4s;

}